{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container p-5">
    <a class="btn btn-danger mb-5" href="{{ path('app_home') }}">Retour</a>
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <h4>{{product.price}} €</h4>
    <div>
        <form action="{{ path('app_cart_add', {'id': product.id}) }}" method="get">
            <p>Quantité :</p>
            <input name="quantity" id="quantity" type="number" min="1" max="100" value="1">
            <br>
            <button type="submit" class="btn btn-success mt-3">Ajouter au panier</button>
        </form>
    </div>

<!-- <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> -->

<!-- {{ include('product/_delete_form.html.twig') }} -->
</div>
{% endblock %}
